n8n_workflow_improved.json
{
  "name": "Gmail Send with Rate Limiting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5c430cd6-c53b-43bc-9960-1cd16d428991",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "4e198c7e-8a1d-43a6-ad83-27d72c09b33d",
      "name": "Webhook",
      "webhookId": "5c430cd6-c53b-43bc-9960-1cd16d428991"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email_to",
              "name": "email_to",
              "value": "={{ $json.body.email_id }}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "subject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "body",
              "value": "={{ $json.body.body }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 0],
      "id": "set-data",
      "name": "Set Email Data"
    },
    {
      "parameters": {
        "amount": 1.5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [448, 0],
      "id": "wait-rate-limit",
      "name": "Wait 1.5s (Rate Limit)"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [672, 0],
      "id": "64d0de5b-936a-480a-9569-4579a945e584",
      "name": "Send Email via Gmail",
      "webhookId": "00f1a509-47a3-478c-9149-693652748f2e",
      "credentials": {
        "gmailOAuth2": {
          "id": "QLNjH08am02NUKOl",
          "name": "Gmail account fake.avi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.0,
      "position": [896, 0],
      "id": "check-email-sent",
      "name": "Check Email Sent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "thread_id",
              "name": "thread_id",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "email_to",
              "name": "email_to",
              "value": "={{ $('Set Email Data').item.json.email_to }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Email sent successfully",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, -100],
      "id": "set-success-response",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error?.message || $json.message || 'Unknown error occurred' }}",
              "type": "string"
            },
            {
              "id": "email_to",
              "name": "email_to",
              "value": "={{ $('Set Email Data').item.json.email_to }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Failed to send email",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 100],
      "id": "set-error-response",
      "name": "Set Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1344, 0],
      "id": "respond-to-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Data": {
      "main": [
        [
          {
            "node": "Wait 1.5s (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1.5s (Rate Limit)": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail": {
      "main": [
        [
          {
            "node": "Check Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Sent": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

